body {
    font-size: 2rem
}

button {
    font-size: 1.5rem;
}
.parent-wrapper {
    width: 25vw;
    display: flex;
    margin: 0 auto;
}
.child-wrapper {
    width: 100%;
    background-color: #7D7E82;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}