body {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: normal;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 20vh);
    gap: 5px;
}

.topbar {
    grid-column: 2 / 6;
}

#lowerlist {
    margin-top: 30px;
}

.main {
    grid-row: 2 / 6;
    grid-column: 2 / 6;
}

.boxwrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.box {
    height: 10em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px grey;
}

.rightbar {
    grid-column: 6 / 7;
    grid-row: 2 / 6;
}

.row1 {
    display: flex;
}